:root {
  --background-primary: #efefef;
  --color-primary: #1b1b1b;
  --color-secondary: #ffcc00;
  --color-inverted: #1b1b1b;
  --font-primary: 'NatoSansMath';
  --font-secondary: 'Fantasque';
  --color-outgoing: #fc6262;
  --color-incomming: #57b3f7;
}
@font-face {
  font-family: 'NatoSansMath';
  src: url(assets/fonts/NotoSansMath-Regular.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Fantasque';
  src: url(assets/fonts/FantasqueSansMono-Regular.ttf) format('truetype');
  font-display: swap;
}
body {
  user-select: none;
  background-color: var(--background-primary);
  overflow: hidden;
  margin: 0;
}

#tree {
  width: 100vw;
  height: 100vh;
  border: none;
}
#lesson-switch {
  position: absolute;
  top: 0;
  left: 30vw;
  width: 40vw;
  display: flex;
  justify-content: space-around;
}
.autocomplete-option:hover {
  opacity: 1;
  background-color: var(--color-secondary);
}
.autocomplete-option {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 30px;
  opacity: 0.5;
  color: var(--color-inverted);
}
#autocomplete {
  font-family: var(--font-primary);
  font-weight: 600;
  position: fixed;
  bottom: 160px;
  background-color: var(--background-primary);
  border: none;
  border-top: solid 1px var(--color-primary);
  border-bottom: solid 1px var(--color-primary);
  opacity: 0.85;
  outline: none;
  width: 100vw;
  margin: auto;
  text-align: center;
  z-index: 1000;
  display: none;
}

#connection-button:hover {
  opacity: 1;
}

#connection-button {
  opacity: 0.35;
  font-family: var(--font-primary);
  font-size: 20px;
  cursor: pointer;
  border: none;
  position: absolute;
  background-color: transparent;
  text-align: center;
  width: fit-content;
}
#connection-node-A {
  color: var(--color-incomming);
}
#connection-node-B {
  color: var(--color-outgoing);
}
#connection-arrow {
  color: var(--color-primary);
}
#comments-section {
  position: absolute;
  background: transparent;
  padding: 20px;
  top: 50px;
  left: 10px;
  user-select: none;
  pointer-events: none;
}
#menu-section {
  position: absolute;
  bottom: 32px;
  right: 10px;
  opacity: 0.2;
}
#scroll {
  display: grid;
  position: absolute;
  bottom: 30px;
  left: 5px;
}
#lesson-section {
  visibility: hidden;
  position: absolute;
  margin: auto;
  top: 0;
  left: 32px;
  color: var(--color-primary);
  background: transparent;
}
#lesson-content {
  text-align: left;
  user-select: none;
  pointer-events: none;
  width: 100vw;
}
#theme-button {
  opacity: 0.5;
  font-size: 32px;
  position: absolute;
  border: none;
  cursor: pointer;
  top: 5px;
  left: 12px;
  font-family: var(--font-primary);
  color: var(--color-primary);
  background-color: transparent;
}
#tutorial-button {
  opacity: 0.5;
  position: absolute;
  border: none;
  cursor: pointer;
  top: 10px;
  left: 80px;
  font-family: var(--font-primary);
  color: var(--color-primary);
  background-color: transparent;
}

#save:hover,
#load:hover,
#up:hover,
#down:hover,
#tutorial-button:hover,
#theme-button:hover,
#lesson-button-left:hover,
#lesson-button-right:hover,
#hints-button:hover,
#identity-button:hover,
#composition-button:hover,
#menu-section:hover {
  border: solid 1px var(--color-primary);
  opacity: 1;
}

#hints-button,
#identity-button,
#composition-button {
  opacity: 0.5;
  display: none;
  cursor: pointer;
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-size: 15px;
  background: transparent;
  border: none;
}

#toolkit {
  margin: auto;
  position: absolute;
  top: 10px;
  right: 10px;
  gap: 10px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  color: var(--color-primary);
}

#lesson-button-left,
#lesson-button-right {
  opacity: 0.5;
  display: none;
  border: none;
  cursor: pointer;
  font-size: 32px;
  color: var(--color-primary);
  background: transparent;
}

#variableInput {
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 600;
  position: fixed;
  bottom: 100px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100vw;
  margin: auto;
  text-align: center;
  z-index: 1000;
  color: var(--color-primary);
  user-select: none;
  pointer-events: none;
}

#up,
#down,
#save,
#load {
  opacity: 0.5;
  font-family: var(--font-secondary);
  font-size: 32px;
  border: none;
  cursor: pointer;
  color: var(--color-primary);
  background: transparent;
}
#save,
#load {
  font-size: 20px;
  padding: 5px;
}
#selectedIndex {
  font-family: var(--font-secondary);
  font-size: 15px;
  font-weight: 600;
  position: fixed;
  bottom: 0;
  width: fit-content;
  margin: auto;
  text-align: center;
  z-index: 1000;
  color: var(--color-primary);
  user-select: none;
  border: solid 1px var(--color-primary);
  padding: 40px;
  background-color: var(--background-primary);
}
#infoGuide {
  user-select: none;
  font-family: var(--font-secondary);
  display: none;
  position: absolute;
  top: -10px;
  left: 45vw;
  border: none;
  background-color: transparent;
  z-index: 1000;
  pointer-events: none;
}
#tooltip {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
  background-color: transparent;
  pointer-events: none;
}
.slide {
  display: none;
  position: absolute;
}
.slide * {
  pointer-events: none;
}
.slide-content {
  display: grid;
  /* width: 50em; */
  width: 90vw;
  max-width: 50em;
  text-align: justify;
}
rules {
  padding: 5px;
  font-size: 12px;
  opacity: 0.5;
  text-transform: uppercase;
  pointer-events: none;
  user-select: none;
}

#info-pannel {
  display: none;
}
dark,
light,
diagram {
  visibility: hidden;
  height: 0;
}
